# Database Connection
DATABASE_URL="file:./dev.db"

# Public Configuration
NEXT_PUBLIC_APP_NAME="Danica Gold"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CURRENCY="USD"
NEXT_PUBLIC_CURRENCY_SYMBOL="$"
